<div class="show-container has-text-centered">
    <div class="is-circle image is-200x200 show-image" ng-if="sdc.currentShow.details[0].image">
        <img ng-cloak ng-src="{{sdc.currentShow.details[0].image}}" alt="{{sdc.currentShow.details[0].artist}}">
    </div>
    <div class="show-info" ng-if="!sdc.editingMode">
        <h1 class="title is-1">
            {{sdc.currentShow.details[0].artist}}</h1>
        <h1 class="subtitle is-3">{{sdc.currentShow.details[0].venue}} | {{sdc.currentShow.details[0].city}}, {{sdc.currentShow.details[0].state}}</h1>
        <h1 class="title is-3 has-text-weight-light">{{sdc.currentShow.details[0].show_date | date: 'fullDate'}}</h1>
        <div>
            <button ng-click="sdc.editingMode = !sdc.editingMode" class="button is-primary is-small"><span>Edit Show Details</span></button>
        </div>
    </div>
</div>