<div class="columns">
    <div class="column is-6 is-offset-3">
        <div class="box">
            <h1 class="title has-text-centered">Edit Show Details</h1>
            <div class="field">
                <label class="label">Artist</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Artist" ng-model="sdc.currentShow.details[0].artist">
                </div>
            </div>
            <div class="field">
                <label class="label">Date</label>
                <div class="control">
                    <input class="input" type="date" ng-model="sdc.currentShow.details[0].show_date">
                </div>
            </div>
            <div class="field">
                <label class="label">Venue</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Venue" ng-model="sdc.currentShow.details[0].venue">
                </div>
            </div>
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" placeholder="City" ng-model="sdc.currentShow.details[0].city">
                </div>
            </div>
            <div class="field">
                <label class="label">State</label>
                <div class="select">
                    <select ng-model="sdc.currentShow.details[0].state">
                        <option ng-repeat="state in sdc.states" ng-value="state">{{state}}</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">Upload an Image</label>
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" value="Upload" ng-click="sdc.addArtistImage()">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose an image...
                            </span>
                        </span>
                        <span class="file-name" ng-if="sdc.currentShow.details[0].newImage">
                            <img ng-src="{{sdc.currentShow.details[0].newImage}}" style="width:25px;height:25px">
                        </span>
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button ng-click="sdc.editShow(); sdc.editingMode = !sdc.editingMode" class="button is-primary">Save</button>
                </div>
                <div class="control">
                    <a ng-click="sdc.editingMode = !sdc.editingMode" class="button is-link">Cancel</a>
                </div>
                <div class="control">
                    <a class="has-text-danger is-white button" ng-click="sdc.ShowDetailService.deleteShow(sdc.currentShow.details[0].id)">
                        <span class="icon is-small">
                            <i class="fa fa-trash"></i>
                        </span>
                        <span class="is-size-7" style="text-transform:none;">Delete Show</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>