<!-- <p>
    <a ng-click="sdc.editingMode = !sdc.editingMode" class="is-size-7"><i class="fa fa-chevron-left" aria-hidden="true"></i> back</a>
</p> -->
<h1 class="title">Edit This Show</h1>
<div class="field">
    <label class="label">Artist</label>
    <div class="control">
        <input class="input" type="text" placeholder="Artist" ng-model="sdc.currentShow.details[0].artist">
    </div>
</div>
<div class="field">
    <label class="label">Date</label>
    <div class="control">
        <input class="input" type="date" ng-model="sdc.currentShow.details[0].show_date">
    </div>
</div>
<div class="field">
    <label class="label">Venue</label>
    <div class="control">
        <input class="input" type="text" placeholder="Venue" ng-model="sdc.currentShow.details[0].venue">
    </div>
</div>
<div class="field">
    <label class="label">City</label>
    <div class="control">
        <input class="input" type="text" placeholder="City" ng-model="sdc.currentShow.details[0].city">
    </div>
</div>
<div class="field">
    <label class="label">State</label>
    <div class="select">
        <select ng-model="sdc.currentShow.details[0].state">
    <option value="" disabled selected>Please Select</option>
    <option ng-repeat="state in sdc.states" ng-value="state">{{state}}</option>
</select>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button ng-click="sdc.editShow(); sdc.editingMode = !sdc.editingMode" class="button is-primary">Save</button>
    </div>
    <div class="control">
        <a ng-click="sdc.editingMode = !sdc.editingMode" class="button is-link">Cancel</a>
    </div>
</div>