<div class="columns">
    <div class="column is-4 is-offset-4">
        <div class="box">
            <h1 class="title has-text-centered">Edit Show Details</h1>
            <div class="field">
                <label class="label">Artist</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Artist" ng-model="sdc.currentShow.details[0].artist">
                </div>
            </div>
            <div class="field">
                <label class="label">Date</label>
                <div class="control">
                    <input class="input" type="date" ng-model="sdc.currentShow.details[0].show_date">
                </div>
            </div>
            <div class="field">
                <label class="label">Venue</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Venue" ng-model="sdc.currentShow.details[0].venue">
                </div>
            </div>
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" placeholder="City" ng-model="sdc.currentShow.details[0].city">
                </div>
            </div>
            <div class="field">
                <label class="label">State</label>
                <div class="select">
                    <select ng-model="sdc.currentShow.details[0].state">
    <option ng-repeat="state in sdc.states" ng-value="state">{{state}}</option>
</select>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button ng-click="sdc.editShow(); sdc.editingMode = !sdc.editingMode" class="button is-primary is-outlined">Save</button>
                </div>
                <div class="control">
                    <a ng-click="sdc.editingMode = !sdc.editingMode" class="button is-link">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>