<!-- Friends -->
<div class="box">
    <div ng-if="!sdc.addingFriend">
        <p><span class="title is-5">Friends</span> <a class="button is-small is-primary is-pulled-right" ng-click="sdc.addingFriend = !sdc.addingFriend">Add Friend</a></p>
        <hr>
        <article class="media" ng-repeat="friend in sdc.friends.list">
            <div class="media-content">
                <div class="content">
                    <p>
                        {{friend.first_name}} {{friend.last_name}}
                    </p>
                </div>
            </div>
            <div class="media-right">
                <a class="is-small has-text-danger" ng-click="sdc.deleteFriend(friend.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </article>
    </div>
    <!-- Add a Fried Form -->
    <div ng-if="sdc.addingFriend">
        <h3 class="title is-5">Add a Friend</h3>
        <div class="field is-grouped">
            <div class="control">
                <input class="input" type="text" placeholder="First Name" ng-model="sdc.newFriend.first_name">
            </div>
            <div class="control">
                <input class="input" type="text" placeholder="Last Name" ng-model="sdc.newFriend.last_name">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <a ng-click="sdc.addFriend()" class="button is-primary">Add Friend</a>
            </div>
            <div class="control">
                <a ng-click="sdc.addingFriend = !sdc.addingFriend" class="button is-link">Cancel</a>
            </div>
        </div>
    </div>
</div>