<div class="box">
    <div ng-if="!sdc.addingNote">
        <p><span class="title is-5">Notes</span> <a ng-if="!sdc.addingNote" ng-click="sdc.addingNote = !sdc.addingNote" class="button is-small is-primary is-pulled-right">
    <span ng-if="!sdc.currentShow.details[0].notes">Add Notes</span>
    <span ng-if="sdc.currentShow.details[0].notes">Edit Notes</span></a></p>
        <hr>
        <p ng-if="!sdc.currentShow.details[0].notes"><em>You haven't added any notes for this show.</em></p>
        <article class="media" ng-if="sdc.currentShow.details[0].notes">
            <div class="media-content">
                <div class="content">
                    <p>{{sdc.currentShow.details[0].notes}}</p>
                </div>
            </div>
        </article>
    </div>
    <div ng-if="sdc.addingNote">
        <p class="title is-5">Notes</p>
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Show Notes" ng-model="sdc.currentShow.details[0].notes"></textarea>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button ng-click="sdc.addNote(); sdc.addingNote = !sdc.addingNote" class="button is-primary">Save Note</button>
            </div>
            <div class="control">
                <a ng-click="sdc.addingNote = !sdc.addingNote" class="button is-link">Cancel</a>
            </div>
        </div>
    </div>
</div>