<h1 class="title">Friends <a class="button is-small is-primary">Add Friend</a></h1>
<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="text" placeholder="First Name" ng-model="sdc.newFriend.first_name">
    </div>
</div>
<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="text" placeholder="Last Name" ng-model="lc.newFriend.last_name">
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button ng-click="sdc.FriendService.addFriend()" class="button is-primary">Add Friend</button>
    </div>
    <div class="control">
        <a href="/#/register" class="button is-link">Cancel</a>
    </div>
</div>

<!-- Friends -->
<div>{{sdc.friends}}</div>