/* body,
button,
input,
select,
textarea {
    font-family: 'Nunito', sans-serif;
} */

a {
    color: #4840bb;
}

.home-image {
    margin-bottom: 40px;
    text-align: center;
}

.home-image img {
    max-width: 300px;
    text-align: center;
}

.logo-image {
    width: 200px;
    padding: 15px 0;
}

.header-logo {
    margin-top: 20px;
}

p.setlist-item {
    padding: 3px 0;
    border-bottom: 1px solid #f1f1f1;
}

.is-circle img {
    border-radius: 50%;
}

.show-container {
    margin: 10px 0;
    overflow: hidden;
}

.show-image {
    display: inline-block;
}

.file {
    margin-bottom: 20px;
}

.is-200x200 {
    width: 200px;
    height: 200px;
}

.no-image {
    width: 128px;
    height: 128px;
    background: #e3e3e3;
    border-radius: 50%;
}

.footer {
    padding: 60px 20px 20px 0;
    background: #fff;
}

.footer a,
.footer a:visited {
    color: #69707a;
}

.footer a:hover,
.footer a:visited:hover {
    color: #222324;
}


/* Search Results */

.media.search-listings+.media.search-listings {
    border-top: none;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 5px;
}

.search-listings .media-content {
    padding: 10px;
}

article.search-listings:nth-child(odd) {
    background: #f1f1f1;
}

.button.is-primary:focus:not(:active),
.button.is-primary.is-focused:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.years {
    margin: 10px 0 20px 0;
    text-align: center;
}

.years a.button {
    margin: 3px;
}

.pagination-link,
.pagination-next,
.pagination-previous {
    border-color: #222;
}

a.pagination-link {
    color: #222;
    width: 60px;
}

.is-current {
    background-color: #4840bb !important;
    border-color: #222 !important;
    color: #fff !important;
}

.button.is-primary.is-hovered,
.button.is-primary:hover {
    background-color: #4840bb;
    border-color: #222;
    color: #fff;
}

.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
    background-color: #4840bb;
    color: #fff;
}

.pagination-link:hover,
.pagination-next:hover,
.pagination-previous:hover {
    border-color: #222;
    color: #fff;
    background: #4840bb;
}

.button.is-google {
    background-color: #dd4b39;
    border-color: transparent;
    color: #fff;
    width: 250px;
}

.button.is-google.is-hovered,
.button.is-google:hover {
    background-color: #c64333;
    color: #fff;
}

.button.is-facebook {
    background-color: #3b5998;
    border-color: transparent;
    color: #fff;
    width: 250px;
}

.button.is-facebook.is-hovered,
.button.is-facebook:hover {
    background-color: #355088;
    color: #fff;
}

.my-shows-container a.level-item {
    font-weight: bold;
}

.show-date {
    float: right;
    padding-top: 7px;
}

@media screen and (max-width: 768px) {
    .level-right .level-item:not(:last-child) {
        margin-right: 1.5rem;
    }
    .level-right .level-item:first-child {
        margin-right: .75rem;
    }
    nav.level .level-left+.level-right {
        margin-top: 0;
    }
    .show-date {
        float: none;
        display: block;
        padding-top: 0;
    }
    .not-logged-in-header {
        text-align: center;
    }
    .logo-image {
        width: 140px;
        margin-left: 1.5rem;
    }
    .button.is-small-mobile {
        border-radius: 0;
        font-size: .75rem;
    }
    .hero-body,
    .section {
        padding: 1rem 1.5rem;
    }
}

@media screen and (min-width: 769px) {
    nav.level .level-right .level-item {
        margin-right: .75em;
    }
    .logo-image {
        margin-left: .75em;
    }
}