<div ng-if="sdc.addingNote">
    <div class="field">
        <label class="label">Add notes</label>
        <div class="control">
            <textarea class="textarea" placeholder="Show Notes" ng-model="sdc.currentShow.details[0].notes"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button ng-click="sdc.addNote(); sdc.addingNote = !sdc.addingNote" class="button is-primary">Add Note</button>
        </div>
         <div class="control">
            <a ng-click="sdc.addingNote = !sdc.addingNote" class="button is-link">Cancel</a>
        </div> 
    </div>
</div>