<footer class="footer" ng-controller="UserController as uc">
    <div class="container">
        <div class="content has-text-centered">
            <p>Search powered by:
                <br><img src="../../assets/sfm-logo.png" alt="last.fm" style="height: 16px; margin-right: 5px;">
                <img src="../../assets/lfm-logo.png" alt="last.fm" style="height: 16px;">
            </p>
            <p><a class="icon" href="https://github.com/sjfortin/showstash" target="_blank"><i class="fa fa-github"></i></a></p>
        </div>
    </div>
</footer>