<div ng-controller="HeaderController as hc">
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    ShowStash
                </h1>
                <h2 class="subtitle">
                    Your Concert History
                </h2>
                <div style="margin: 10px 0;">
                    <a ng-href="#/shows" class="button is-primary is-inverted is-outlined">My Shows</a>
                    <a ng-href="#/add-show" class="button is-primary is-inverted is-outlined">Add Shows</a>
                </div>
            </div>
        </div>
    </section>
</div>