<!-- <div ng-controller="HeaderController as hc">
    <section class="section is-marginless is-paddingless">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <a ng-href="#/shows" class="button is-primary is-outlined is-large">My Shows</a>
                    <a ng-href="#/add-show" class="button is-primary is-outlined is-large">Add Shows</a>
                </div>
            </div>
        </div>
    </section>
</div> -->