<div ng-controller="NavController as nc">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" ng-href="#/shows">
        <!-- <img src="../../assets/showstash-logo.png" alt="Logo" height="28"> -->
        ShowStash
      </a>
      <button class="button navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a ng-href="#/shows" class="navbar-item">My Shows</a>
        <a ng-href="#/add-show" class="navbar-item">Add Show</a>
      </div>

      <div class="navbar-end">
        <a ng-href="#/profile" class="navbar-item"><span class="icon is-small"><i class="fa fa-user"></i></span>Profile</a>
        <div class="navbar-item"><a class="button" ng-click="nc.userService.logout()">Log Out</a></div>
      </div>
    </div>
  </nav>
</div>