<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>
<section class="section">
    <div class="container">
        <div class="columns" ng-if="!sc.addOwnShow">

            <!-- Search the api -->
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <h1 class="title has-text-centered">Search for Shows</h1>
                    <div class="field">
                        <label class="label">Artist</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Artist" ng-model="sc.searchShow.artist">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Venue</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Venue" ng-model="sc.searchShow.venue">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="City" ng-model="sc.searchShow.city">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button id="search-button" class="button is-primary is-outlined" ng-click="sc.ShowService.searchShow(sc.searchShow.artist, sc.searchShow.city, sc.searchShow.venue, 1)">Search</button>
                        </div>
                        <div class="control">
                            <a ng-click="sc.addOwnShow = !sc.addOwnShow" class="button is-link">Or Add Your Own</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 is-offset-2">

                <!-- Search Results -->
                <p ng-if="sc.ShowService.zeroSearchResults" class="has-text-centered">No search results. <a ng-click="sc.addOwnShow = !sc.addOwnShow; sc.ShowService.zeroSearchResults = !sc.ShowService.zeroSearchResults">Add your own show.</a></p>
                <h1 class="title has-text-centered" ng-if="sc.searchShowResults.data.data.setlist.length">Your Results</h1>

                <!-- Pagination -->
                <div ng-if="sc.searchShowResults.data.data.setlist.length" style="margin-bottom: 20px;">
                    <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination" class="is-small">
                        <ul class="pagination-list">
                            <li ng-repeat="page in sc.ShowService.searchResultPages">
                                <a ng-click="sc.ShowService.searchShow(sc.searchShow.artist, sc.searchShow.city, sc.searchShow.venue, page)" class="pagination-link"
                                    aria-label="Goto page {{page}}" ng-class="{true: 'is-current', false:''}[$index+1==sc.ShowService.currentPageNumber]">Page {{page}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Search Listings -->
                <article class="media search-listings" ng-repeat="show in sc.searchShowResults.data.data.setlist">
                    <div class="media-content">
                        <div class="content">
                                <span class="is-size-4">{{show.artist.name}}</span>
                                <span style="float:right;">{{show.eventDate | searchDateFilter | date: 'mediumDate'}}</span>
                                <div>{{show.venue.name}}</div>
                                <div>{{show.venue.city.name}}, {{show.venue.city.stateCode}}</div>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <a id="add-button{{$index}}" class="level-item button is-small is-primary" ng-click="sc.ShowService.addSearchedShow(show.artist.name, show.artist.mbid, show.eventDate, show.venue.name, show.venue.city.name, show.venue.city.stateCode, show.versionId, show.sets.set, $index)">Add Show</a>
                            </div>
                        </nav>
                    </div>
                </article>

            </div>
        </div>

        <!-- Manual add show form -->
        <div class="columns" ng-if="sc.addOwnShow">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <h1 class="title has-text-centered">Add Your Own Show</h1>
                    <div class="field">
                        <label class="label">Artist</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Artist" ng-model="sc.newShow.artist" ng-required="true">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Date</label>
                        <div class="control">
                            <input class="input" type="date" ng-model="sc.newShow.show_date">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Venue</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Venue" ng-model="sc.newShow.venue">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="City" ng-model="sc.newShow.city">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">State</label>
                        <div class="select">
                            <select ng-model="sc.newShow.state">
                                <option value="" disabled selected>Please Select</option>
                                <option ng-repeat="state in sc.states" ng-value="state">{{state}}</option>
                            </select>
                        </div>
                    </div>
                        <div class="field">
                            <label class="label">Upload an Image</label>
                            <div class="file has-name">
                                <label class="file-label">
                                        <input class="file-input" value="Upload" ng-click="sc.addArtistImage()">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose an image...
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            <img ng-src="{{sc.newShow.newImage}}" style="width:25px;height:25px;">
                                        </span>
                                    </label>
                            </div>
                        </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button ng-click="sc.addShow()" class="button is-primary is-outlined">Add Show</button>
                        </div>
                        <div class="control">
                            <a ng-click="sc.addOwnShow = !sc.addOwnShow" class="button is-link ">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/partials/footer.html'"></div>