<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <!-- <div ng-repeat="show in asc.ShowService.allUserShows | orderBy: '-show_date'" style="margin: 10px 0;">
                        {{show.artist}}
                        <br>{{show.show_date | date: 'fullDate'}}
                        <br>{{show.first_name}} {{show.last_name}}
                        <hr>
                    </div> -->
                    <div class="has-text-centered">
                        <h1 class="title is-3">Technologies</h1>
                        <ul>
                            <li>PostgreSQL</li>
                            <li>Express</li>
                            <li>AngularJS</li>
                            <li>Node.js</li>
                            <li>Bulma</li>
                            <li>Angular Toastr</li>
                            <li>FileStack</li>
                            <li>setlist.fm and last.fm APIs</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>