<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <!-- <div ng-repeat="show in asc.ShowService.allUserShows | orderBy: '-show_date'" style="margin: 10px 0;">
                        {{show.artist}}
                        <br>{{show.show_date | date: 'fullDate'}}
                        <br>{{show.first_name}} {{show.last_name}}
                        <hr>
                    </div> -->
                    <div class="has-text-centered">
                        <h1 class="title is-3">Technologies</h1>
                        <h3 class="subtitle is-5" style="text-transform: none">PostgreSQL<br>Express<br>AngularJS<br>Node.js<br>Bulma<br>Angular Toastr<br>Font-Awesome</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>