<div ng-include="'views/partials/nav.html'"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- <div class="home-image"><img src="../../assets/showstash-logo-purple.png" alt="ShowStash"></div> -->
            <h1 class="title is-size-2-desktop">Welcome to ShowStash</h1>
            <h1 class="subtitle is-size-4-desktop">Keep track of your concert history</h1>
            <p class="is-size-5-desktop">
                <a href="#/shows">View your past shows</a> or
                <a href="#/add-show">add new ones</a>!</p>
            <div class="columns image-preview">
                <div class="column">
                    <a ng-href="#/show/{{imageObject.id}}" ng-repeat="imageObject in uc.artistImages.list | orderBy: '-show_date'" class="home-show-image-link">
                        <img ng-src="{{imageObject.image}}" style="margin: 0 3px; border-radius: 50%; width: {{imageObject.homeImageSize}}px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/partials/footer.html'"></div>