<div ng-include="'views/partials/nav.html'"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- <div class="home-image"><img src="../../assets/showstash-logo-purple.png" alt="ShowStash"></div> -->
            <h1 class="title size-1">Welcome to ShowStash</h1>
            <h1 class="subtitle size-3">Keep track of your concert history</h1>
            <p><a href="#/shows">View your past shows</a> or <a href="#/add-show">add new ones</a>!</p>
            <!-- <p class="is-size-5">Technologies Used: PostgreSQL, Express, Node.js, AngularJS, Bulma, Angular Toastr, Font-Awesome</p> -->
        </div>
    </div>
</section>
 <div ng-include="'views/partials/footer.html'"></div> 