<div ng-include="'views/partials/nav.html'"></div>
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                ShowStash
            </h1>
            <h2 class="subtitle">
                Your Concert History
            </h2>
            <p>Welcome to ShowStash. Use this app to keep a record of the concerts you have been to.</p>
            <p>Technologies Used: PostgreSQL, Express, Node.js, AngularJS, Bulma CSS</p>
            <div style="margin: 20px 0;">
                <a ng-href="#/shows" class="button is-primary is-inverted is-outlined is-large">My Shows</a>
                <a ng-href="#/add-show" class="button is-primary is-inverted is-outlined is-large">Add Shows</a>
            </div>
        </div>
    </div>
</section>