<div ng-include="'views/partials/header-not-logged-in.html'"></div>
<section class="section">
    <div class="container">
        <h1 class="title">Login</h1>
        <form ng-submit="lc.login()">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Email" ng-model="lc.user.email">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Password" ng-model="lc.user.password">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
                <div class="control">
                    <a href="/#/register" class="button is-link">Register</a>
                </div>
            </div>
        </form>
    </div>
</section>