<div layout="row" layout-padding>
    <div flex="50">
        <h1>Login</h1>
        <h1 role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
            <form ng-submit="lc.login()">
                <md-input-container class="md-block">
                    <label>Email Address</label>
                    <input type="text" ng-model="lc.user.email" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input type="password" ng-model="lc.user.password" />
                </md-input-container>
                <div>
                    <md-button type="submit" class="md-raised md-primary">Log In</md-button>
                    <md-button ng-href="#register">Register</md-button>
                </div>
            </form>
    </div>
</div>