<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <div style="float: right;">
                        <a class="button is-outlined is-small" ng-click="lc.userService.logout()">Log Out</a>
                    </div>
                    <h1 class="title">Profile</h1>
                    <p><img style="border-radius:50%;float:left; margin-right: 5px;" ng-src="{{lc.userObject.image}}"> {{lc.userObject.name}}</p>
                    <p>{{lc.userObject.username}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/partials/footer.html'"></div>