<div ng-include="'views/partials/nav.html'"></div>
<div layout="row" layout-padding>
    <div flex>
        <h1>My Shows</h1>
        <md-list-item class="md-3-line secondary-button-padding" ng-click="doPrimaryAction($event)" ng-repeat="show in sc.shows.data">
            <div class="md-list-item-text" layout="column">
                <h3>{{show.band}}</h3>
                <h4>{{show.show_date | date: shortdate}}</h4>
                <p>{{show.venue}} | {{show.city}}, {{show.state}}</p>
            </div>
            <md-button class="md-secondary md-raised md-primary" ng-click="doSecondaryAction($event)">Edit Show</md-button>
            <md-divider></md-divider>
        </md-list-item>
    </div>
</div>
<div layout="row" layout-padding>
    <div flex>
        <md-button class="md-raised md-accent" ng-click="sc.userService.logout()">Log Out</md-button>
    </div>
</div>