<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>
<section class="section">
    <div class="container">
        <p class="has-text-centered">
            <a ng-href="/#/shows" class="is-size-6"><i class="fa fa-lg fa-angle-left" aria-hidden="true"></i> back to my shows</a>
        </p>
        <div class="columns">
            <div class="column">
                <!-- Show Details -->
                <div ng-include="'views/partials/show/details.html'"></div>
                <!-- Edit Show Form -->
                <div ng-if="sdc.editingMode" ng-include="'views/partials/show/edit.html'"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <!-- Friends -->
                <div ng-include="'views/partials/show/friends.html'"></div>
                <br>
                <!-- Show Notes -->
                <div ng-include="'views/partials/show/notes.html'"></div>
            </div>
            <div class="column is-half">
                <!-- Setlist Info -->
                <div ng-include="'views/partials/show/setlist.html'"></div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/partials/footer.html'"></div>