<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/header.html'"></div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <h1 class="title has-text-centered">My Shows</h1>

                    <!-- Tabs by Year -->
                    <div class="years">
                        <a class="button is-primary is-outlined is-small" ng-repeat="year in sc.ShowService.allShowYears" ng-click="sc.ShowService.changeYear(year)" ng-class="{'is-current': sc.ShowService.currentShowYear==year}">
                            {{year}}
                        </a>
                    </div>
                    <h1 class="title is-1 has-text-centered">{{sc.ShowService.currentShowYear}} </h1>
                    <article class="media my-shows-container" ng-repeat="show in sc.myShows.data | filter: {full_year: sc.ShowService.currentShowYear} | orderBy: 'show_date'" ng-href="/#/show/{{show.id}}">
                        <figure class="media-left">
                            <p class="image is-128x128 is-circle">
                                <img ng-src="{{show.image}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="is-size-4 has-text-weight-bold">{{show.artist}}</span>
                                    <br> {{show.venue}} | {{show.city}}, {{show.state}}
                                    <br> {{show.show_date | date: 'fullDate'}}
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" ng-href="/#/show/{{show.id}}"><span class="icon is-small" style="margin-right: 5px;"><i class="fa fa-music"></i></span>View Show Details</a>
                                </div>
                                <div class="level-right">
                                    <a class="level-item has-text-danger" ng-click="sc.ShowService.deleteShow(show.id)"><span class="icon is-small"><i class="fa fa-trash"></i></span> Delete</a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    <div ng-if="!sc.myShows.data.length">
                        <p>You don't have any shows. <a href="/#/add-show">Add some!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/partials/footer.html'"></div>